section{

    background-color: ;
    color:greenyellow;
    padding: 30%;
    text-align: center;

}
h8 h5 p h4 h6{
    font-size: 50px;
    
        font-family: "Tinos", serif;
        font-weight: 400;
        font-style: normal;
    
      
      
}
h8{
    margin-top: 30px;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;

}
#body{

    margin-right: 20px;
    margin-left: 20px;

}
img{
    border-radius: 50%;

}
#nav{
    background-color: black;
    color:orange;
    padding :20px;

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
